/* video background */
#background-video {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 98;
}

/* Formulario de contacto */
#inputNombre, #inputTelefono, #inputEmail{
    background-color: #2C3144;
    color: #FFF;
    border: 0;
}
#inputNombre, #inputTelefono, #inputEmail, #textMensaje{
    background-color: #2C3144;
    color: #FFF;
    border: 0;
}
lottie-player {
    margin: 0 auto;
    width: 200px; 
}
.navbar-brand img{
    width: 20%;
}
.contacto{
    margin: auto; 
    background-color: #191B2A; 
    border-radius: 10px; 
    padding-bottom: -100px !important;
}
.main .animation{
    padding-top: -50px;
    height: 100px !important;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 30px;
    margin-top: -110px;
}
.swiper-button-next{
    color: #FFF;
    margin-right: -12px;
}
.swiper-button-prev{
    color: #FFF;
    margin-left: -12px;
}
.swiper-pagination{
    text-align: left;
    margin-left: 30px;
    color: #FFFFFF;
}
/* Fin del formulario de contacto */

/* Portafolio de servicios */
.SectionPortafolio{
    border-bottom: solid 1px #fff;
}
.SectionPortafolio .container .row{
    background-color: #191B2A; 
}
.SwiperPortafolio {
    margin: 100px auto;
    width: 320px;
    height: 240px;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.slides:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.slides:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.slides:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.slides:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.slides:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.slides:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.slides:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.slides:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.slides:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.slides:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}
/* Fin del portafolio de servicios */

footer{
    margin-bottom: -10px;
    width: 100%;
    padding: 2% 1%;
    color: #60757D;
}


/* Como poner los medias quieres */
@media (max-width: 750px) {
    /*#background-video { display: none; }
    body {
    background: url("recursos/imagenes/imgFondo1.png") no-repeat;
    background-size: cover;
    }*/
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 20px;
    }
}