/* video background */
#background-video {
    height: 85vh;
    width: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 98;
}

#inputNombre, #inputTelefono, #inputEmail{
    background-color: #2C3144;
    color: #FFF;
    border: 0;
}

#inputNombre, #inputTelefono, #inputEmail, #textMensaje{
    background-color: #2C3144;
    color: #FFF;
    border: 0;
}

.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 30px;
    margin-top: -110px;
}
.swiper-button-next{
    color: #FFF;
    margin-right: -12px;
}
.swiper-button-prev{
    color: #FFF;
    margin-left: -12px;
}
.swiper-pagination{
    text-align: left;
    margin-left: 30px;
    color: #FFFFFF;
}
footer{
    margin-bottom: -10px;
    width: 100%;
    padding: 2% 1%;
    color: #60757D;
}
lottie-player {
    margin: 0 auto;
    width: 200px; 
}
.navbar-brand img{
    width: 20%;
}
.contacto{
    margin: auto; 
    background-color: #191B2A; 
    border-radius: 10px; 
    padding-bottom: -100px !important;
}
.main .animation{
    padding-top: -50px;
    height: 100px !important;
}
.portafolio{
    border-bottom: solid 1px #fff;
}
.portafolio .container .row{
    background-color: #191B2A; 
}

@media (max-width: 750px) {
    /*#background-video { display: none; }
    body {
    background: url("recursos/imagenes/imgFondo1.png") no-repeat;
    background-size: cover;
    }*/
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 20px;
    }
}