@import url('https://fonts.googleapis.com/css?family=Lato|Lora')

$dark: #252C32
$brown: #5B4644
$coffee: #87624F
$tan: #DAB7A3
$white: #F4E8DA
$water: #859FB5
$rojo : #FF0000
$blanco : #FFFFFF
$negro : #000
$gris : #F0F0F0
$azulOscuro : #3e4765
$azulOscuro2 : #191B2A
$negroAzulado: #222737

  

$sans: 'Lato', sans-serif
$serif: 'Lora', serif

/* Elementos por defecto de la página */
footer
  width: 100%
  padding: 2% 1%
  color: #60757D

.auxFooter
  margin-top: 250px
  position: relative
  bottom: 0
  width: 100%

body
  background-color: $azulOscuro
  min-height: 1000px

/* video background
#background-video
  height: 98vh
  width: 100%
  object-fit: cover
  position: relative
  bottom: 0
  z-index: 98
  filter: brightness(90%)


.accordion-button::after
  display: none

.verCredencial
  float: right
  margin-right: 10px 
  color: $azulOscuro2
  font-size: 20px
  font-weight: bold

.usuario, .comentario, .edicionUsuario
  background-color: $azulOscuro2  
  padding: 20px 30px
  border-radius: 10px

.panelAdministrativo
  margin: auto
  background-color: $azulOscuro2
  color: $gris
  padding: 20px 30px
  border-radius: 10px

#frm-comment, #formLogin
  background-color: $azulOscuro2
  padding: 20px
  border-radius: 10px
  color: $blanco
  
.listaComentarios
  background-color: $azulOscuro2
  padding: 50px 50px 30px 50px
  border-radius: 15px

.custom-shape-divider-bottom-1634938778 
  position: absolute
  bottom: 0
  z-index: 98
  left: 0
  width: 100%
  overflow: hidden
  line-height: 0

.cover-video
  position: relative
  display: inline-block
  text-align: center
  width: 100%

.cover-titulo
  margin: auto
  position: absolute
  top: 10px
  left: 10px
  z-index: 98
  position: absolute
  top: 25%
  right: 11%
  left: 11%
  font-family: 'Montserrat', sans-serif
  color: #FFFFFF
  font-size: 68px
  text-shadow: 2px 2px 30px black

.titulosServicios
  margin: -8% auto auto auto
  position: absolute 
  font-size: 25px 
  font-weight: bold  
  padding: 5px 8px 
  border: solid 1px #CCC 
  font-family: 'Montserrat', sans-serif

.flecha
  top: 10px
  left: 10px
  z-index: 98
  position: absolute
  top: 75%
  left: 50%
  transform: translate(-50%, -50%)
  width: 10vh

.fondoLogos
  background-color: $azulOscuro2
  padding: 10px
  border-radius: 10px

.swiperSize img
  object-fit: cover 
  height: 100%

.custom-shape-divider-bottom-1634938778 svg 
  position: relative
  display: block
  width: calc(137% + 1.3px)
  height: 109px


.custom-shape-divider-bottom-1634938778 .shape-fill 
  fill : $azulOscuro

//Blog
.blog-imagen
  width: 95%
  height: 30%
  max-height: 550px
  object-fit: cover
  border-radius: 15px
  margin: auto

.blog-contenedor
  background-color: $blanco
  padding: 20px
  border-radius: 15px

.blog-titulo
  margin-top: 40px
  text-align: center
  font-family: 'Montserrat', sans-serif

.blog-contenido
  width: 100%
  max-width: 900px
  margin: auto
  padding-bottom: 60px


.blog-comentar
  width: 35%
  min-width: 300px

//Quienes somos

.quienes-somos
  background-color: $azulOscuro2
  padding: 30px
  color: $blanco
  margin: 15px
  margin-top: 25px
  border-radius: 20px


#output li
  margin: 15px
  padding: 30px
  
  border-top-left-radius: 30px
  border-top-right-radius: 30px
  border-bottom-left-radius: 3px
  border-bottom-right-radius: 30px
  background-color: $negroAzulado

#output li a
  text-decoration: none
  padding: 0.375rem 0.75rem
  border: 1px solid transparent
  border-color: #0d6efd
  color: #0d6efd
  border-radius: 0.25rem
  border-radius: 5px
  cursor: pointer
  

.comment-text
  margin: 15px 0 15px 0

/* Formulario de contacto

#inputNombre, #inputTelefono, #inputEmail, #inputNombre, #inputTelefono, #inputEmail, #textMensaje, #commentId, #name, #telefono, #correo, #comment, #loginEmail, #loginUsername, #loginPass, #rol, #username, #apellidos, #telefono, #titulo, #descripcion, #nombre, #cargo, #funcione, #resumen, #biografia, #correo
  background-color: #2C3144
  color: $blanco
  border: 0

table tr td
  vertical-align: middle
  text-align: center

table tr .resumen,.biografia
  max-height: 250px !important
  overflow-y: scroll
  
lottie-player
  margin: 0 auto
  width: 200px

.navbar-brand
  width: 20%
  min-width: 30px
  float: left

  img
    width: 10%
    min-width: 30px
    margin: 0 15px
    float: left
  
.dropdown-menu
    background: #2C3144


.dropdown-item
    color: white

.creditos
    font-size: 12px
    color: $negro

.logo
    margin: auto
    max-width: 80px
    min-width: 30px
    width: 10%

.contacto
  margin: auto
  background-color: #191B2A
  border-radius: 10px
  padding-bottom: -100px !important

.main .animation
  padding-top: -50px
  height: 100px !important

.swiper-button-prev:after
  font-size: 30px
  margin-top: -110px

.swiper-button-next
  &:after
    font-size: 30px
    margin-top: -110px

  color: #FFF
  margin-right: -12px

.swiper-button-prev
  color: #FFF
  margin-left: -12px

.swiper-pagination
  text-align: left
  margin-left: 30px
  color: #FFFFFF

// Fin del formulario de contacto

// Nuestros servicios

.contenedorServicios
    position: relative
    display: inline-block
    text-align: center


.centrado
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 22px 
    padding: 5px 8px 
    border: solid 2px #CCC 
    border-radius: 5px
    font-family: 'Montserrat', sans-serif


// Fin de los servicios  

// Portafolio de proyectos

.SectionPortafolio
  margin-bottom: 8px

.SwiperPortafolio
  margin: auto
  width: 100%

.slides
  display: flex
  align-items: center
  justify-content: center
  font-size: 22px
  font-weight: bold
  color: #fff

  & > a
    background-color: $azulOscuro2
  
  img
    width: 100%

  


/* Fin del portafolio de servicios


  
    


/* Como poner los medias quieres
@media (max-width: 750px)
  /*#background-video  display: none 
   *body 
   *background: url("recursos/imagenes/imgFondo1.png") no-repeat
   *background-size: cover
   *

  .swiper-button-prev:after, .swiper-button-next:after
    font-size: 20px

@media (max-width: 1100px)
  .cover-titulo
    top: 18%
    right: 11%
    left: 11%
    font-size: 48px


@media (max-width: 670px)
  .cover-titulo
    top: 15%
    right: 12%
    left: 12%
    font-size: 40px

@media (max-width: 670px)
  .cover-titulo
    top: 15%
    right: 12%
    left: 12%
    font-size: 32px

@media (max-height: 440px)
  .cover-titulo
    top: 20%
    right: 12%
    left: 12%
    font-size: 30px

  .flecha
    top: 68%




  