@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F4F5F7;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

h1 {
    color: #0d9488;
}

.title {
    color: #012840;
    font-size: 3rem;
    margin: 1rem;
}

nav {
    display: flex;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

p {
    margin: 1rem;
    font-size: 1.2rem;
}

.preview-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    height: 90%;
}

.preview-container>div:first-child {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 380px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*Laptop*/
.preview-container>div:first-child img:first-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    width: 95%;
    z-index: 2;
}

/*Celular*/
.preview-container>div:first-child img:last-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 30%;
    margin: auto;
    width: 25%;
    z-index: 0;
}

/*Circulo*/
.preview-container>div:first-child > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    width: 90%;
    aspect-ratio: 1 / 1;
    background-color: #A7F3D0;
}

.preview-container>div:last-child {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}

.btn-primario {
    border: none !important;
    margin: 10px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 10px 15px;
    color: #fff !important;
    border-radius: 100px;
    background-color: #0d9488;
    transition: all 0.3s ease;
}

.btn-primario:hover {
    box-shadow: 0px 10px 15px -3px rgba(107, 114, 128, 0.301),
        0px 4px 6px -2px rgba(107, 114, 128, 0.13);
    transition: all 0.3s ease;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    z-index: 10;
    position: fixed;
    backdrop-filter: blur(10px) brightness(40%);
}

.modal>div {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(107, 114, 128, 0.301),
        0px 4px 6px -2px rgba(107, 114, 128, 0.13);
    overflow-y: auto;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    max-width: 800px;
    z-index: 10;

}

.open {
    display: flex;
}

.imgFondo{
    opacity: .4; 
    position: absolute; 
    width: 100%;
    height: 120vh;
}

footer{
    color: #0D9488; 
    bottom: 0 !important; 
    width: 100%; 
    align-items: center; 
    height: 120px; 
    display: flex; 
    justify-content: center; 
    background-color: white; 
}

#spanWhatsapp {
    display: inline-block;
    position: fixed;       
    z-index: 99;
    bottom: 4.5%;
    right: 3%;
}   
#iconWhatsapp {
    color: #FFF;
    font-size: 40px;
   margin: auto;
   background-color: #61CE70;
   border-radius: 50%;
   padding: 7px;
}
#iconWhatsapp:hover {
    font-size: 50px;
    transition: .2s;
}

@media (max-width:600px) {
    .preview-container {
        grid-template-columns: 1fr;
    }

    nav {
        justify-content: center;
    }
}