<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIP Calzado y Marroquineria</title>
    <link rel="stylesheet" href="estilos.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.css"
    />
    <script src="https://www.google.com/recaptcha/api.js?render=6LdYQawiAAAAAAsCVLFKaZkwL02CViOWYXfgAv7U"></script>
  </head>
  <body>
    <header>
      <div class="mobile">
        <ul>
          <li>
            <a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a>
          </li>
          <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="column-2 blur" style="min-height: 100vh">
        <nav>
          <a
            class="animate__animated animate__fadeInUp"
            href="https://ab-sistemas.com/"
            target="_blank"
            style="cursor: pointer; margin-right: 10px"
          >
            <img
              src="https://ab-sistemas.com/recursos/imagenes/logo.webp"
              style="width: 32px; margin-top: 8px"
            />
          </a>
          <ul>
            <li>
              <a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a>
            </li>
            <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
          </ul>
        </nav>
        <div>
          <img src="./img/shoes.png" style="width: 90%" />
        </div>
        <div>
          <h1 class="hero">SIP Calzado y Marroquineria</h1>
          <a href="#queEs" class="button">DESCUBRIR</a>
          <div class="animate__animated animate__fadeInUp">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" />
            <input
              type="text"
              name="telefono"
              id="telefono"
              placeholder="Télefono"
              onkeypress="return soloNumeros(event)"
            />
            <input
              type="email"
              name="correo"
              id="correo"
              placeholder="Correo"
            />
            <input
              type="hidden"
              name="recaptcha_response"
              id="recaptchaResponse"
            />
            <a
              class="button animate__animated animate__fadeInUp"
              style="cursor: pointer; margin: 20px auto"
              onclick="enviarSuscripcion(4)"
            >
              <box-icon
                color="#fff"
                style="margin-right: 10px"
                name="star"
              ></box-icon
              >Enviar
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section>
        <h2 class="title" id="queEs">¿QUÉ ES?</h2>
        <p>
          Es un sistema intuitivo y fácil de usar de gestión de procesos para la
          fabricación de calzado. Cuenta con distintos módulos para ayudarte a
          la automatización de tu negocio.
        </p>
        <h2 class="title" id="queEs"></h2>
        <div class="column-2">
          <div class="tag">
            <h2 class="title" id="queEs">Clientes</h2>

            <p>
              Guarda, organiza, edita y observa la información de tus clientes.
            </p>
          </div>
          <div class="tag">
            <h2 class="title" id="queEs">Trabajadores</h2>

            <p>
              Asigna procesos a empleados, cargos y gestiona sus ganancias.
            </p>
          </div>
        </div>
        <div class="tag">
          <h2 class="title" id="queEs">Empleados</h2>

          <p>
            Añada empleados, gestione sus pagos de nómina, de procesos, pagos
            adicionales y descuentos, mira su historial de pagos y gestiona su
            información.
          </p>
        </div>
      </section>

      <section>
        <h2 class="title">FUNCIONALIDADES</h2>
        <div class="column-2" style="margin: 2rem 0">
          <div>
            <div class="tag">
              <i class="bx bx-package"></i>GESTIÓN DE PEDIDOS
            </div>
            <div class="tag">
              <i class='bx bx-shape-circle'></i>GESTIÓN DE PROCESOS
            </div>
            <div class="tag"><i class='bx bx-candles' ></i>GESTIÓN DE FUNCIONES</div>
          </div>
          <div>
            <div>
              <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_1n2cvwnt.json"  background="transparent"  speed="1"  style="width: 75%;"  loop  autoplay></lottie-player>
            </div>
          </div>
        </div>
        <h2 class="title" id="queEs">CAPTURAS DE PANTALLA</h2>
        <div class="column-2" style="margin: 2rem 0">
          <div>
            <img src="./img/gestionResponsable.png" class="img" alt="">
          </div>

          <div>
            <img src="./img/gestionEmpleado.png" class="img" alt="">
          </div>
          
        </div>

        <div class="column-2" style="margin: 2rem 0">
          <div>
            <img src="./img/gestionTrabajador.png" class="img" alt="">
          </div>

          <div>
            <img src="./img/gestionAlmacenes.png" class="img" alt="">
          </div>
          
        </div>
      </section>

      <section>
        <h2 class="title" id="queEs">CARACTERÍSTICAS DESTACADAS</h2>
        <!-- <p>
          Contamos con una app que permite a los transportadores tener el
          control sobre las alertas disponibles y seleccionar la que más le
          convenga. Además se registrará en tiempo real la trayectoria del
          transportador hasta culminada la alerta.
        </p> -->
        <div class="column-3">
          <div>
            <p style="font-weight: bold; color: #004aac">
              Haz copia de seguridad de base de datos
            </p>
            <lottie-player
              src="https://assets3.lottiefiles.com/packages/lf20_bfWthMsxWl.json"
              background="transparent"
              speed="1"
              style="width: 70%;"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div>
            <p style="font-weight: bold; color: #004aac">
              Personaliza la estructura de tus pedidos
            </p>
            <lottie-player
              src="https://assets10.lottiefiles.com/datafiles/6eNm5VdAGUyQpDf/data.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div>
            <p style="font-weight: bold; color: #004aac">Paga la nómina a tus empleados</p>
            <lottie-player
              src="https://assets2.lottiefiles.com/private_files/lf30_poJSrS.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <div class="copyright text-center my-auto fs-6">
          <span style="font-size: 16px">
            Copyright &copy; AB Technology Group 2022
            <a
              class=""
              href="https://api.whatsapp.com/send?phone=573158227811&text=Hola,%20quiero%20conocer%20m%C3%A1s%20sobre%20los%20productos%20que%20ofrecen."
              target="_blank"
            >
              <box-icon color="#2C948C" type="logo" name="whatsapp"></box-icon>
            </a> </span
          ><br />
        </div>
      </div>
    </footer>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5c9e7ce21de11b6e3b05e9d6/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="../../../recursos/landing_pages/js/index.js"></script>
  </body>
</html>
