@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins:wght@400;500;700;800&display=swap");

* {
  font-family: "Alkalami", serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7f6ffe1;
}

.mobile{
    z-index: 100;
    display: none;
    padding: 1rem 2rem;
    margin: 0;
    background-color: #3F62CF;
}

.mobile ul {
    width: 100%;
    list-style: none;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.mobile ul li{
    margin: 0 1.5rem;
}

.mobile ul li a{
    color: #FFF;
    text-decoration: none;
}

nav {
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    width:100%;
    z-index: 100;
}

nav ul li a{
    margin:1rem;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

header{
    background: url('../img/cover_sip.webp');
    min-height: 100vh;
}

.blur{
    backdrop-filter: blur(5px) brightness(40%);
}

.hero{
    font-size: clamp(3rem, 5vw, 15rem);
    text-align: center;
    color: #FFF;
}

.button{
    background-color: #3F62CF;
    color: #FFF;
    text-decoration: none;
    display: flex;
    width: fit-content;
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-weight: bold;
    margin: 1.5rem;
}

.column-2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-2 > div{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 18rem;
}

.column-3{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-3 > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 15rem;
    margin: 1rem;

}

.column-3 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
}

.container{
    padding: 1.5rem;
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

.title{
    text-align: center;
    font-size: clamp(2rem, 2vw, 5rem);
    margin: 1.5rem;
    color: #3F62CF;
}

p{
    text-align: center;
    margin: 1.8rem 0;
    font-size: 1.2rem;
}

.tag{
    padding: 1.5rem;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #3F62CF solid;
    border-radius: 1rem;
    color: #3F62CF;
    margin: 1rem;
}

.tag i{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.img {
    width: 90%;
    border-radius: 1rem;
    margin: 1rem;
}

footer{
    align-self:flex-end ;
    color: #3F62CF;
    width: 100%; 
    align-items: center; 
    height: 120px; 
    display: flex; 
    justify-content: center; 
    background-color: rgb(255, 255, 255); 
}

input{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 4px;
}

@media (max-width:700px) {

    nav {
        justify-content: center;
    }

    nav ul {
        display: none;
    }

    .mobile {
        display: flex;
    }
}

.flex-columns > div {
    display: flex;
    flex-wrap: wrap-reverse;
}

.flex-columns img{
    box-shadow: 0px 10px 15px -3px rgba(107, 114, 128, 0.1),
    0px 4px 6px -2px rgba(107, 114, 128, 0.05);
    width: 100%;
    border-radius: 1rem;
}

.flex-columns > div > div {
    display: flex;
    flex: 1 1 20rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.tags > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.tags > ul > li {
    box-shadow: 0px 10px 15px -3px rgba(107, 114, 128, 0.1),
    0px 4px 6px -2px rgba(107, 114, 128, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cee8fe;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1.5rem;
    flex: 1 1 10rem;
    text-align: center;
}

.tags > ul > li > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 0.5rem 0;
}

.tags > ul > li > div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.tags > ul > li > div > i {
    font-size: 2rem;
}

.tags > ul > li {
    color: #3F62CF;
}
