<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIP Calzado y Marroquineria</title>
    <link rel="shortcut icon" href="../../../recursos/landing_pages/img/iconSip.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../recursos/landing_pages/css/sip.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.css"
    />
    <script src="https://www.google.com/recaptcha/api.js?render=6LdYQawiAAAAAAsCVLFKaZkwL02CViOWYXfgAv7U"></script>
  </head>
  <body>
    <header>
      <div class="mobile">
        <ul>
          <li>
            <a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a>
          </li>
          <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="column-2 blur" style="min-height: 100vh">
        <nav>
          <a
            class="animate__animated animate__fadeInUp"
            href="https://ab-sistemas.com/"
            target="_blank"
            style="cursor: pointer; margin-right: 10px"
          >
            <img
              src="https://ab-sistemas.com/recursos/imagenes/logo.webp"
              style="width: 32px; margin-top: 8px"
            />
          </a>
          <ul>
            <li>
              <a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a>
            </li>
            <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
          </ul>
        </nav>
        <div>
          <img src="../../../recursos/landing_pages/img/doctor.webp" style="width: 90%" />
        </div>
        <div>
          <h1 class="hero">SIP DROGUERÍA</h1>
          <p style="color: white;">Sistema de Inventario y Procesos para Droguerías</p>
          <a href="#queEs" class="button">DESCUBRIR</a>
          <div class="animate__animated animate__fadeInUp">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre" />
            <input
              type="text"
              name="telefono"
              id="telefono"
              placeholder="Télefono"
              onkeypress="return soloNumeros(event)"
            />
            <input
              type="email"
              name="correo"
              id="correo"
              placeholder="Correo"
            />
            <input
              type="hidden"
              name="recaptcha_response"
              id="recaptchaResponse"
            />
            <a
              class="button animate__animated animate__fadeInUp"
              style="cursor: pointer; margin: 20px auto"
              onclick="enviarSuscripcion(5)"
            >
              <box-icon
                color="#fff"
                style="margin-right: 10px"
                name="star"
              ></box-icon
              >Enviar
            </a>
            
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section>
        <h2 class="title" id="queEs">¿QUÉ ES SIP DROGUERÍA?</h2>
        <p>
          Es un sistema de gestión, inventario y administración para droguerías, que cuenta con diferentes módulos para ayudarte a dar el salto digital que tanto has buscado, y hacerle frente al mercado con productos de vanguardia.
        </p>
      </section>

      <section>
        <h1>Características Destacadas</h1>
        <div class="tags">
            <ul>
                <li>
                    <div><i class='bx bxs-devices'></i></div>
                    <div>Accede desde distintos dispositivos</div>
                </li>
                <li>
                    <div><i class='bx bxs-extension'></i></div>
                    <div>Fácil de usar</div>
                </li>
                <li>
                    <div><i class='bx bx-fast-forward-circle'></i></div>
                    <div>Agiliza Procesos</div>
                </li>
                
            </ul>
        </div>
    </section>

    <section class="flex-columns">
        <h1>Modulos de Gestión</h1>
        <div class="tags">
            <ul>
                <li>
                    <div><i class='bx bx-category'></i></div>
                    <div>Categorias</div>
                </li>
                <li>
                    <div><i class='bx bx-store'></i></div>
                    <div>Proveedores</div>
                </li>
                <li>
                    <div><i class='bx bx-user-pin'></i></div>
                    <div>Clientes</div>
                </li>
                
                <li>
                    <div><i class='bx bx-basket'></i></div>
                    <div>Productos</div>
                </li>
                <li>
                    <div><i class='bx bx-star'></i></div>
                    <div>Servicios</div>
                </li>
                <li>
                    <div><i class='bx bx-cart-alt'></i></div>
                    <div>Compras</div>
                </li>
                <li>
                    <div><i class='bx bx-shopping-bag'></i></div>
                    <div>Ventas</div>
                </li>
            </ul>
        </div>
        <h2>Otros Módulos</h2>
        <div class="tags">
            <ul>
                
                <li>
                    <div><i class='bx bx-package'></i></div>
                    <div>Reportes de inventario</div>
                </li>
                <li>
                    <div><i class='bx bx-stats'></i></div>
                    <div>Reportes de ingresos y egresos</div>
                </li>
            </ul>
        </div>
    </section>

      <section>
        <h2 class="title">CAPTURAS DE PANTALLA</h2>
        
        <div class="column-2" style="margin: 2rem 0">
          <div>
            <img src="../../../recursos/landing_pages/img/cap1.webp" class="img" alt="">
          </div>

          <div>
            <img src="../../../recursos/landing_pages/img/cap2.webp" class="img" alt="">
          </div>
          
        </div>

        <div class="column-2" style="margin: 2rem 0">
          <div>
            <img src="../../../recursos/landing_pages/img/cap3.webp" class="img" alt="">
          </div>

          <div>
            <img src="../../../recursos/landing_pages/img/cap4.webp" class="img" alt="">
          </div>
          
        </div>
      </section>

      
    </div>
    <footer>
      <div>
        <div class="copyright text-center my-auto fs-6">
          <span style="font-size: 16px">
            Copyright &copy; AB Technology Group 2022
            <a
              class=""
              href="https://api.whatsapp.com/send?phone=573158227811&text=Hola,%20quiero%20conocer%20m%C3%A1s%20sobre%20los%20productos%20que%20ofrecen."
              target="_blank"
            >
              <box-icon color="#2C948C" type="logo" name="whatsapp"></box-icon>
            </a> </span
          ><br />
        </div>
      </div>
    </footer>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5c9e7ce21de11b6e3b05e9d6/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <script src="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="../../../recursos/landing_pages/js/index.js"></script>
  </body>
</html>
