<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Control de Envios</title>
    <link rel="shortcut icon" href="../../../recursos/landing_pages/img/iconEnvios.png" type="image/x-icon">
    <link rel="stylesheet" href="../../../recursos/landing_pages/css/envios.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.css">
    <script src='https://www.google.com/recaptcha/api.js?render=6LdYQawiAAAAAAsCVLFKaZkwL02CViOWYXfgAv7U'> 
    </script>
    <script>
        grecaptcha.ready(function() {
        grecaptcha.execute('6LdYQawiAAAAAAsCVLFKaZkwL02CViOWYXfgAv7U', {action: 'formulario'})
        .then(function(token) {
        var recaptchaResponse = document.getElementById('recaptchaResponse');
        recaptchaResponse.value = token;
        });});
    </script>
  </head>
  <body>
    <header>
      
      <div class="mobile">
        <ul>
            <li><a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a></li>
            <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
        </ul>
    </div>
      <div class="column-2 blur" style="min-height: 100vh">
        <nav>
          <a
            class="animate__animated animate__fadeInUp"
            href="https://ab-sistemas.com/"
            target="_blank"
            style="cursor: pointer; margin-right: 10px"
          >
            <img
              src="../../../recursos/landing_pages/img/logo_AB.webp"
              style="width: 32px; margin-top: 8px"
            />
          </a>
          <ul>
            <li>
              <a href="https://ab-sistemas.com/Views/nosotros.php">Nosotros</a>
            </li>
            <li><a href="https://ab-sistemas.com/#contacto">Contacto</a></li>
          </ul>
        </nav>
        <div>
          <lottie-player
            src="https://assets6.lottiefiles.com/private_files/lf30_fjw4m6nk.json"
            background="transparent"
            speed="1"
            style="width: 80%"
            loop
            autoplay
          ></lottie-player>
        </div>
        <div>
              <h1 class="hero">SISTEMA DE CONTROL DE ENVÍOS</h1>
              <a href="#queEs" class="button">DESCUBRIR</a>
            <div class="animate__animated animate__fadeInUp">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <input type="text" name="telefono" id="telefono" placeholder="Télefono" onkeypress="return soloNumeros(event)">
                <input type="email" name="correo" id="correo" placeholder="Correo">
                <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
                <a class="button animate__animated animate__fadeInUp" style="cursor: pointer; margin: 20px auto;" onclick="enviarSuscripcion(2)">
                    <box-icon color="#fff" style="margin-right: 10px" name='star'></box-icon>Enviar
                </a>
            </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section>
        <h2 class="title" id="queEs">¿QUÉ ES?</h2>
        <p>
          El Sistema de Control de Envíos es un software gestor de transportes,
          el cual se encuentra subdividido en dos:
        </p>

        <div class="column-3">
          <div class="tag">
            <h2 class="title" id="queEs">WEB</h2>

            <p>
              Se puede administrar información de los transportadores, emisión y
              control de alertas, ubicación de los transportadores en tiempo
              real.
            </p>
          </div>
          <div class="tag">
            <h2 class="title" id="queEs">APP</h2>

            <p>
              Permite<br />
              al transportador visualizar y tomar una alerta según aquellas que
              fueron publicadas desde el apartado administrativo.
            </p>
          </div>
          <div>
            <img
              src="https://images.unsplash.com/photo-1591768793355-74d04bb6608f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
              alt=""
            />
          </div>
        </div>
      </section>

      <section>
        <h2 class="title">FUNCIONALIDADES</h2>
        <div class="column-2" style="margin: 2rem 0">
          <div>
            <div class="tag">
              <i class="bx bx-user-pin"></i>GESTIÓN DE USUARIOS
            </div>
            <div class="tag">
              <i class="bx bx-package"></i>GESTIÓN DE ALERTAS
            </div>
            <div class="tag"><i class="bx bx-map"></i>GEOLOCALIZACIÓN</div>
          </div>
          <div>
            <lottie-player
              src="https://assets9.lottiefiles.com/packages/lf20_2felmxor.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
        </div>

        <div class="column-2" style="margin: 2rem 0">
          <div>
            <lottie-player
              src="https://assets2.lottiefiles.com/private_files/lf30_1dri3tak.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div>
            <div class="tag">
              <i class="bx bx-car"></i>GESTIÓN DE TRANSPORTADORES
            </div>
            <div class="tag"><i class="bx bx-paperclip"></i>SOLICITUDES</div>
            <div class="tag">
              <i class="bx bx-notification"></i>
              NOTIFICACIONES
            </div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="title" id="queEs">CARACTERISTICAS DESTACADAS</h2>
        <p>
          Contamos con una app que permite a los transportadores tener el
          control sobre las alertas disponibles y seleccionar la que más le
          convenga. Además se registrará en tiempo real la trayectoria del
          transportador hasta culminada la alerta.
        </p>
        <div class="column-3">
          <div>
            <p style="font-weight: bold; color: #004aac">
              Selecciona la alerta
            </p>
            <lottie-player
              src="https://assets1.lottiefiles.com/packages/lf20_uub9r8ta.json"
              background="transparent"
              speed="1"
              style="width: 80%; height: 260px"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div>
            <p style="font-weight: bold; color: #004aac">
              Registra tu recorrido
            </p>
            <lottie-player
              src="https://assets6.lottiefiles.com/packages/lf20_0aeuYFhzMg.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
          <div>
            <p style="font-weight: bold; color: #004aac">Completa la alerta</p>
            <lottie-player
              src="https://assets2.lottiefiles.com/datafiles/0BklE7L1HhdHa4v/data.json"
              background="transparent"
              speed="1"
              style="width: 80%"
              loop
              autoplay
            ></lottie-player>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <div class="copyright text-center my-auto fs-6">
          <span style="font-size: 16px">
            Copyright &copy; AB Technology Group 2022
            <a
              class=""
              href="https://api.whatsapp.com/send?phone=573158227811&text=Hola,%20quiero%20conocer%20m%C3%A1s%20sobre%20los%20productos%20que%20ofrecen."
              target="_blank"
            >
              <box-icon color="#2C948C" type="logo" name="whatsapp"></box-icon>
            </a> </span
          ><br />
        </div>
      </div>
    </footer>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/5c9e7ce21de11b6e3b05e9d6/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="../../../recursos/landing_pages/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="../../../recursos/landing_pages/js/index.js"></script>
  </body>
</html>
